
/* General app styles */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

/* Onboarding Step Styles */
.onboarding-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

video {
  max-width: 80%; 
  height: auto;  
  border-radius: 8px; 
}


button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}
